<body>
	
	<table align="center" border="1" width="1000" height="550"  cellpadding="10" cellspacing="0" >
		
		<tr>
			<td height="30" align="center" colspan="3"><h2>BLOG</h2></td>
		</tr>
		<tr>
			<td height="20" colspan="3" >
				
				<a href="index.html">Home</a>&nbsp &nbsp &nbsp  
				<a href="createblog.html">Create</a> &nbsp &nbsp &nbsp
				<a href="login.html">Login</a> &nbsp &nbsp &nbsp
				<a href="registration.html">Register</a>
				
			</td>			
		</tr >	
		
		<tr >
				
			<td valign="top" width="700">
				<form action="../Controllers/blog_controller.php" method="post">
					<h3>Edit Blog</h3>
					Title
					<br/> <br/>
					<input name="blogtitle"/ value="asdad"> <br/> <br/>
					Blog
					<textarea name="textarea" rows="15" cols="105">
						
					</textarea>
					<hr/>
					
					<input type="submit" value="Update">
				</form>
			</td>
			
			<td valign="top">
				<h5>Links</h5>
			</td>
		</tr>
		
		<tr height="5">
			<td  valign="top" colspan="2"><center>Copyright 2017</center></td>
		</tr>	
	</table>
</body>