
<body>

	<table align="center" border="1" width="1000" height="550"  cellpadding="10" cellspacing="0" >
	
		
		<tr>
			<td height="30" align="center"><h2>EXPLORE</h2></td>
			<td>
			<div>
			<image src = "img/<?php echo $image; ?>" width = "200px" height = "200px" align = "right"/>
			</div>
			</td>
		</tr>
		<tr>
			<td height="20" colspan = "2">
				
				<a href="index.html">Home</a>&nbsp &nbsp &nbsp  
				<a href="create.html">Create</a> &nbsp &nbsp &nbsp
				<a href="login.html">Login</a>
				
			</td>			
		</tr >	
		
		<tr>
			<td valign="top" colspan = "2">
				<h2><?php echo $title; ?></h2>
				<p>By:<?php echo "Razib" ?></p>
				<div><B>$<?php echo 0;?></B> of $<?php echo $goal;?> goal</div>
				<div>Raised by 125 people in 10 days</div>
				<image src = "img/progressbar.png"/>
				<br>
				<input type = "submit" value = "Donate Now">
				<p>
					<small><i><?php echo $funddetails; ?></i></small>
	</p>
		
	<div>	Here are the milestones:</div>
	<h4>	-Shuvitro Roy - $2700</h4>
	<h4>	-Amy Watson - $1116 </h4>
		<h4> -Chaka - $1200</h4>
		<h4> -Debby Brousias - $6000</h4>
		<h4>-Maxim Max - $2430</h4>
		<h4>-Asley Stewart - $3500</h4>
		<h4>-John Will - $5000</h4>
		<h4>-Jackie Tanever - $1250</h4>
		<h4>-Kylie - $5430</h4>
		
		<h2>Help spread the world!</h2>
		
		<div><b>Created December 15,2017 </b></div>
		<image src = "img/crisishelp1.jpg" width = "60px" height = "60px" />
		<b>Amy Watson</b>
		<br>
		organizer
		<br/>
		<div><h2>Recent Donations :</h2></div>
		        <br>
				<image src = "img/BA.jpg" width = "45px" height = "45px"/>
			   <b>Brenda and Any Hansen                       <b>$50</b></b>
			   <h5>22 minutes ago</h5>
			   <br>
			   <image src = "img/GM.jpg" width = "45px" height = "45px"/>
			   <b>Gary Mechley                      <b>$80</b></b>
			   <h5>2 days ago</h5>
			   <br>
			   <image src = "img/KA.jpg" width = "45px" height = "45px"/>
			   <b>Kristen Aniston                     <b>$100</b></b>
			   <h5>35 minutes ago</h5>
			   <br>
			   <image src = "img/HR.png" width = "45px" height = "45px"/>
			   <b>Hanna Richard                <b>$60</b></b>
			   <h5>7 hours ago</h5>
			   <br>
			   <image src = "img/CM.jpg" width = "45px" height = "45px"/>
			   <b>Cindy and Mathew                <b>$60</b></b>
			   <h5>5 hours ago</h5>
			   <br>
			   <image src = "img/PE.jpg" width = "60px" height = "60px"/>
			   <b>Paul and Elesabeth               <b>$60</b></b>
			   <h5>26 minutes ago</h5>
			   <br>
			   <image src = "img/MR.jpg" width = "45px" height = "45px"/>
			   <b>Matt Resler              <b>$60</b></b>
			   <h5>26 minutes ago</h5>
			   <br>
			   <image src = "img/Anonymous.png" width = "45px" height = "45px"/>
			   <b>Anonymous               <b>$50</b></b>
			   <h5>3 hours ago</h5>
			   <br>
			   <a href="seemore.html">+see more</a>
			   <br>
			   viewing 8 of 25 donations
			   
		
		
		
		
		<tr height="5">
			<td  valign="top" colspan="3" ><center>Copyright 2017</center></td>
		</tr>	
	</table>
</body>