<body>

	<table align="center" border="1" width="1000" height="550"  cellpadding="10" cellspacing="0" >
		
		<tr>
			<td height="30" align="center"><h2>EXPLORE</h2></td>
		</tr>
		<tr>
			<td height="20">
				
				<a href="index.html">Home</a>&nbsp &nbsp &nbsp  
				<a href="create.html">Create</a> &nbsp &nbsp &nbsp
				<a href="login.html">Login</a>
				
			</td>			
		</tr >	
		
		<tr>
			<td valign="top">
				<h2>Donate for Education</h2>
				<p>By: Debby Brosius, Jeannine Ball, and Lori Franzen </p>
				<p>
					<small><i>
    Debby Brosius, Jeannine Ball, and Lori Franzen are veteran teachers at Los Alamitos High School with a combined 85 years of teaching experience; between us, that's over 15,000 students!   We are teachers who are constantly investing in our classrooms, materials and students; we are always looking for new ways to deepen the learning expereince for our kids.

We LOVE our students; we LOVE our jobs.  We also LOVE learning new ways to approach the work; please help us keep learning and growing in our craft.

We have been accepted for attendance to the prestigious Summer Institute for the Humanities at Phillips-Exeter Academy.  This distinguished insitute is known as intense, rigorous, and expansive; creating common threads throughout our humanities-based classes is the ultimate goal. 

Read more about the institute here:   https://webqa2.exeter.edu/summer_programs/7329.aspx

We would all like to attend the institute and return to Los Al with improved practice and pedagogy.  Our district, Los Alamitos Unified, is currently unable to financially support us in this professional growth endeavor.  The cost for the institute itself is $1200 each.  We are ready and willing to pay for our individual travel expenses to New Hampshire; however, any financial help to cut the institute costs would be incredibly helpful.  The request of $3780 will cover the fees for all three of us as well as the gofundme usage fee. 

As a thank you, we will send you a personal note accompanied by a favorite poem or photograph.  Our institute payment is due in full on December 30; please consider donating any amount today!  

					</i></small>
				</p>
				<img src="img/progressbar.png" align="center"/>
			 <p><b>Raised:</b> $600 &nbsp &nbsp &nbsp &nbsp &nbsp <b>Goal:</b> $1200/p>
				
			</td>																																	
		</tr>
		
		<tr height="5">
			<td  valign="top" colspan="2"><center>Copyright 2017</center></td>
		</tr>	
	</table>
</body>