<body>

	<table align="center" border="1" width="1000" height="550"  cellpadding="10" cellspacing="0" >
		
		<tr>
			<td height="30" align="center"><h2>EXPLORE</h2></td>
		</tr>
		<tr>
			<td height="20">
				
				<a href="index.html">Home</a>&nbsp &nbsp &nbsp  
				<a href="create.html">Create</a> &nbsp &nbsp &nbsp
				<a href="login.html">Login</a>
				
			</td>			
		</tr >	
		
		<tr>
			<td valign="top">
				<h2>Donate for charity</h2>
				<p>By: Chaka </p>
				<p>
					<small><i>
    Hey it's @chakabars here :) 
I have started a foundation called I Heart Africa, (iheartafrica.org) so we can help people in Africa who need it. 
The money we raise helped renovate, improve and provide basic supplies for the Meteba medical centre in Ngaba. 
We support the orphanage in Ngaba. 
We are supporting the Masika centre (Orphanage in Minova, East Congo) 
The money that we raised last time kept the orphanage open and we will continue to provide support, plus much needed basics like food, school fees, clothes and hospital bills.
It also bought land for us to move the children to, we plan to build them an eco village. 
Thank you for your donation, it really means a lot and is a great opportunity to do a good thing for people who deserve a better life. This foundation is really important to me, because what is life without spreading positivity and service. As our foundation grows we will expand our coverage and help many more people in other parts of the Motherland.
Love and respect, Chaka. ❤️

					</i></small>
				</p>
				<img src="img/progressbar.png" align="center"/>
			 <p><b>Raised:</b> $1200 &nbsp &nbsp &nbsp &nbsp &nbsp <b>Goal:</b> $4000 </p>
				
			</td>																																	
		</tr>
		
		<tr height="5">
			<td  valign="top" colspan="2"><center>Copyright 2017</center></td>
		</tr>	
	</table>
</body>