<body>

	<table align="center" border="1" width="1000" height="550"  cellpadding="10" cellspacing="0" >
		
		<tr>
			<td height="30" align="center"><h2>EXPLORE</h2></td>
		</tr>
		<tr>
			<td height="20">
				
				<a href="index.html">Home</a>&nbsp &nbsp &nbsp  
				<a href="create.html">Create</a> &nbsp &nbsp &nbsp
				<a href="login.html">Login</a>
				
			</td>			
		</tr >	
		
		<tr>
			<td valign="top">
				<h2>Donate for charity</h2>
				<p>By: Asley Stewart </p>
				<p>
					<small><i>
    On January 13, 2017 an amazing friend and long time buddy of mine, Jonathan Strudwick, passed away in a car accident. Like any death it was unexpected and devistating. 

I met Jon in the 4th grade. We both went to Evergreen Elementary school and got to know each other not only from living on the same street but also because we both loved to ride skateboards and were into many of the same hobbies. Once we became friends, it seemed as if I was at his house almost every day. Once my homework was done,  I would skate to his house as fast as I could to see if Jon could play and vice versa if someone came to my door asking for me there was only one person it could have been, and that was Jon. We became closer as the adventures continued and our friendship grew as the years went on.

There are so many memories and events that I cherish with Jon and it's hard to let him go. He will always be remebered for his contagous smile, kind heart and go with the flow personality. This fund has been set up by Adam Guerena and will be turned over to the Strudwick family.

- Thank you for your contribution of any size - 

					</i></small>
				</p>
				<img src="img/progressbar.png" align="center"/>
			 <p><b>Raised:</b> $350 &nbsp &nbsp &nbsp &nbsp &nbsp <b>Goal:</b> $2000 </p>
				
			</td>																																	
		</tr>
		
		<tr height="5">
			<td  valign="top" colspan="2"><center>Copyright 2017</center></td>
		</tr>	
	</table>
</body>