<html>
   <form action = "historyhandler.php">
   <body>
   <table align = "center" border = "3px" width = "1000" height = "550" cellpadding="10px" cellspacing="3px">
     <tr>
	    <td align = "center" colspan = "4"><h1>User History :
		<input type = "text" name = "search"></h1>
		</td>
		
	 </tr>
	 <tr>
		  <td> <U>Transaction ID : 
		       <input type = "text" name = "ID"></U>
		       <br>
			   <br>
		       <input type = "submit" value = "submit">
		   </td>
		   <td>
			   <U>Transaction Date : <input type = "text" name = "Date"></U>
			   <br>
			   <br>
			   <input type = "submit" value = "submit">
		    </td>
			 <td><U>Amount : <input type = "text" name = "Amount"></U>
			      <br>
				  <br>
			     <input type = "submit" value = "submit">
			     </td>
			  <td>
			   <U>Transaction Type  :
			      <select class = "" name = "transaction">
			      <option value = "" >One-Time Donation</option>
				  <option value = "" >Recurring Donation</option>
				  </select>
			   </U>
			   <br>
			      <br>
			     <input type = "submit" value = "submit">
			   </td>
		  
	 </tr>

   </table>
   </body>
   </form>
</html>